<footer class="footer">
    <div class="container footer-container">
        <a class="footer-logo" href="./#home">
            <img src="/img/footer/logo.png" alt="logo" loading="lazy">
        </a>
        <ul class="footer-navigation">
            <li class="footer-link">
                <a class="footer-underline" href="privacy.html">Privacy Policy</a>
            </li>
            <li class="footer-link">
                <a class="footer-underline" href="terms.html">Terms & Conditions</a>
            </li>
        </ul>
        <p class="footer-text">© 2026 truequest.site — All rights reserved</p>
    </div>
</footer>