<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
            <img src="/img/header/logo.png" alt="logo" loading="lazy" />
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_1_401)">
        <path d="M4 6H20" stroke="#FF4D8C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M4 12H20" stroke="#FF4D8C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M4 18H20" stroke="#FF4D8C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </g>
    <defs>
        <clipPath id="clip0_1_401">
            <rect width="24" height="24" fill="white" />
        </clipPath>
    </defs>
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#about">About</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#how">How to Play</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#features">Features</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#friends">Characters</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#game">Gallery</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#faq">FAQ</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#contact">Contact</a>
                </li>
            </ul>
        </nav>
            <a class="desk-link"
                href="https://play.google.com/store/apps/details?id=jp.co.applibot.HelloKittyMerchMatch&hl=en&gl=us">
                <p>Play Now</p>
                <img src="/img/heart.png" alt="heart" loading="lazy">
            </a>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#about">About</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#how">How to Play</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#features">Features</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#friends">Characters</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#game">Gallery</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#faq">FAQ</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#contact">Contact</a>
        </li>
    </ul>
        <a class="mob-link" href="https://play.google.com/store/apps/details?id=jp.co.applibot.HelloKittyMerchMatch&hl=en&gl=us">
                <p>Play Now</p>
            <img src="/img/heart.png" alt="heart" loading="lazy">
        </a>    
</div>