<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">            
                <h2>Match-3 & Collect</h2>
            <h1 class="home-title">Match, Collect, and <span class="home-span">Create Your Space</span> </h1>
            <p class="home-text">Each time you beat a level, you get some new cute thing to add to your space.</p>
            <a class="home-link" href="https://play.google.com/store/apps/details?id=jp.co.applibot.HelloKittyMerchMatch&hl=en&gl=us">
                <p>Play on Google Play</p>
                <img src="/img/heart.png" alt="heart" loading="lazy">
            </a>
        </div>
<picture>
    <source srcset="
        /img/home/desk.png  1x,
        /img/home/desk@2x.png 2x
        " media="(min-width: 1439px)" />
    <source srcset="
        /img/home/mob.png  1x,
        /img/home/mob@2x.png 2x
        " media="(max-width: 1438px)" />
    <img src="/img/home/mob.png" alt="Hello Kitty" loading="lazy" />
</picture>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
        <div class="about-wrapper">
            <h2>Not your average puzzle</h2>
            <h3>Look, I know what you're thinking — another match-3 game, right? But this one's actually different.</h3>
            <p class="about-text">Hello Kitty Merch Match goes beyond traditional match-3 by adding a strong collection layer. Players don’t just complete
            levels — they gather items, decorate spaces, and interact with familiar characters. There's something weirdly satisfying
            about watching your little collection grow with each level</p>
        </div>
<picture>
    <source srcset="
        /img/about/desk.png  1x,
        /img/about/desk@2x.png 2x
        " media="(min-width: 1439px)" />
    <source srcset="
        /img/about/mob.png  1x,
        /img/about/mob@2x.png 2x
        " media="(max-width: 1438px)" />
    <img src="/img/about/mob.png" alt="Hello Kitty" loading="lazy" />
</picture>
    </div>
</section>